<%= stylesheet_link_tag "signup", :media => "all" %>
<%= stylesheet_link_tag "application", :media => "all" %>

<div class="card text-center">
  <div class="card-body">
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <h2 class="card-title">新規登録</h2>
    
      <div class="field">
        <%= f.text_field :name, :class => "box", :placeholder => "ユーザー名" %>
      </div>
      <div class="field">
        <%= f.email_field :email, :class => "box", :placeholder => "メールアドレス", autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.password_field :password, :class => "box", :placeholder => "パスワード", autocomplete: "new-password" %>
      </div>
    
      <div class="field">
        <%= f.password_field :password_confirmation, :class => "box", :placeholder => "パスワード（確認）", autocomplete: "new-password" %>
      </div>
    
      <div class="actions">
        <%= f.submit "新規登録", :class => "btn btn-primary" %>
      </div>
    <% end %>
    
    <div class="login">
      <p><span>--------</span>既に登録されていますか？<span>--------</span></p>
      <%= link_to "ログイン", new_user_session_path %>
    </div>
  </div>
</div>
