<%= stylesheet_link_tag "comments", :media => "all" %>

<% if user_signed_in? %>
  <h2>現在<%= current_user.name %>さんがログインしています</h2>
  <h4>メールアドレス： <%= current_user.email %></h4>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <div class="jumbotron">
      <div class="text-center">
        <h1 class="display-4">
        It's time to cooperate!
        </h1>
        <%= link_to "今すぐ始める", new_user_registration_path, class: 'post', class: "btn btn-secondary btn-lg" %>
      </div>
  </div>
<% end %>
